div {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    background: transparent;
    animation: animation 1.9s infinite;
}
@keyframes animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
